* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Lato" , sans-serif;
    background: #F4F6F9;
    margin: 0;
}

#sideMenu {
    background: #302D43;
    width: 280px;
    position: fixed;
    top: 0;
    bottom: 0;
}

#sideMenu nav {
    padding-top: 100px;
}

#sideMenu nav a {
    display: block;
    color: #EAEDF3;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

#sideMenu nav a .fa {
    color: #EAEDF3;
    font-size: 1.5rem;
    width: 25px;
    text-align: center;
    margin-right: 0.8rem;
    position: relative;
    top: 2px;
}

#sideMenu nav a:hover{
    background: #282639;
    border-left: 5px solid #04C8E1;
    padding: 15px 30px 15px 25px;
}

#sideMenu nav .active {
    background: #282639;
    color: white;
    border-left: 5px solid #04C8E1;
    padding: 15px 30px 15px 25px;
}

#sideMenu nav .active .fa {
    color: #04C8E1;
}

#sideMenu nav .align-top{
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: darkgray;
    padding-bottom: 10px;
    border-bottom: 1px solid #857FAC;
}

#sideMenu nav .align-top h2, h3, h4 {
    line-height: normal;
}

#sideMenu nav .align-top h2 {
    font-size: 1.4rem;
}

#sideMenu nav .align-bottom{
    position: absolute;
    bottom: 50px;
    width: 100%;
    border-top: 1px solid #857FAC;
}

header {
    margin-left: 280px;
    padding: 20px;
    background: #fff;
}

header .search-area {
   display: inline-block;
}

header .search-area .fa {
    color: #EAEDF3;
}

header .user-field {
    display: inline-block;
    float: right;
    padding: 10px;
}

header .user-field a {
    color: gray;
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
}

header .user-field .user-image {
    background: url("https://s3.amazonaws.com/uifaces/faces/twitter/c_southam/128.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 7px;
}

header .user-field .fa-caret-down{
    position: relative;
    top: -8px;
}

header .user-field .notification {
    position: relative;
    font-size: 20px;
    top: 3px;
}

header .user-field .notification .circle{
    background: red;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    color: white;
    display: inline-block;
    position: absolute;
    left: 7px;
    top: -4px;
}

header .search-area input[type="text"]{
    background: #F4F6F9;
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: #92CF48;
    padding: 10px;
    font-weight: 300;
}
/*
.dropdown-content {
    display: block;
    display: none;
    position: absolute;
    right: 40px;
    background-color: #f9f9f9;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#logout:hover .dropdown-content {
    display: block;
    transition: all 1s ease-in-out;
}
*/

.content {
    margin-left: 280px;
    padding: 20px;
}

.content h2 {
    font-weight: 500;
    font-size: 1.4em;
    margin: 10px 0px 10px 0px;
}

.content h3 {
    font-weight: 300;
    font-size: 1.1em;
    margin: 10px 0px 20px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background: #EAEDF3;
}

table th {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 10px;
    color: gray;
}

table tbody {
    text-align: center;
    background: white;
    font-size: 0.8rem;
}

table tbody td {
    padding: 15px 10px;
    border-bottom: 1px solid #EAEDF3;
}

table tbody .status-indicator{
    background: #92CF48;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    color: #92CF48;
    display: inline-block;
}

table tbody td button {
    background-color: #04C8E1;
    color: white;
    font-weight: 700;
    padding: 8px;
    border: 0px;
    border-radius: 4px;
}

table tbody td button:hover {
    background-color: #0E9BAD;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 899px) {

    #sideMenu {
        width: auto;
    }

    #sideMenu nav .align-top {
        visibility: hidden;
        width: 0;
    }

    #sideMenu nav a {
        font-size: 0;
        padding: 20px;
    }

    #sideMenu nav a .fa {
        margin: 0;
        visibility: visible;
    }

    #sideMenu nav a:hover{
        background: #282639;
        border-left: 5px solid #04C8E1;
        padding: 20px 20px 20px 15px;
    }

    #sideMenu nav .active {
        background: #282639;
        border-left: 5px solid #04C8E1;
        padding: 20px 20px 20px 15px;
    }

    header {
        margin-left: 65px;
    }

    .content {
        margin-left: 65px;
    }
}
